        
            </div>  <!-- inner-container -->
        </div> <!-- ui-container -->
        <footer class="my-footer">
            <div class="credits">
                <p class="project-name">The Talking Dictionary</p>
                <p>by<br><a href="#">Somaan Shakeel</a></p>
            </div>
        </footer>
    </body>
</html>